{% extends 'inventario/base.html' %}

{% block title %}Inventario de Artículos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Inventario de Equipos</h2>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Artículo</th>
                <th>Observación</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
                <tr>
                    <td>{{ articulo.nombre }}</td>
                    <td>{{ articulo.observacion }}</td>
                    <td>
                        <span style="color: white; padding: 5px; border-radius: 3px; background-color: 
                            {% if articulo.estado == 'Disponible' %}
                                green;
                            {% elif articulo.estado == 'Prestado' %}
                                red;
                            {% endif %}">
                            {{ articulo.estado }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

