
{% extends 'inventario/base.html' %}

{% block title %}Solicitar Préstamo{% endblock %}

{% block content %}
        <h2>Solicitar Préstamo</h2>

       

        <form method="POST" action="{% url 'guardar_prestamo' %}">
            {% csrf_token %}
            <h3>Equipos Seleccionados:</h3>
            <div class="mb-3">
                {% for articulo in articulos %}
                    <label class="form-check-label">{{ articulo.nombre }}</label><br>
                    <input type="hidden" name="articulos" value="{{ articulo.id }}">
                {% endfor %}
            </div>
        
            <input type="hidden" name="fecha_solicitud" value="{{ fecha_solicitud }}">
            <input type="hidden" name="fecha_devolucion" value="{{ fecha_devolucion }}">
        
            <div class="form-group">
                <label for="nombre_persona">Nombre:</label>
                <input type="text" class="form-control" name="nombre_persona" required>
            </div>
        
            <div class="form-group">
                <label for="cargo_persona">Cargo:</label>
                <input type="text" class="form-control" name="cargo_persona" required>
            </div>
        
            <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
        </form>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock %}